<!-- 
View for interface "Project" (context: "ProjectAdministration"). Generated code, edit with care.
-->
<div class="container-fluid interface" cg-busy="loadingInterface">
    <div class="box panel panel-default" ng-repeat="(key, val) in val['Project'] track by val.id" ng-init="ResourceId = val.id" ng-class="{'panel-default' : resourceStatus[ResourceId]['default'], 'panel-warning' : resourceStatus[ResourceId]['warning'], 'panel-danger' : resourceStatus[ResourceId]['danger'], 'panel-success' : resourceStatus[ResourceId]['success']}">	<div class="panel-heading">
    		<div class="pull-right panel-heading-options">
    			<button type="button" class="btn btn-sm btn-warning" ng-if="showSaveButton[ResourceId]" ng-click="put(ResourceId, 'promise')">Save</button>
    			<button type="button" class="btn btn-sm btn-danger" ng-if="showCancelButton[ResourceId]" ng-click="cancel(ResourceId)">Cancel</button>
    			<my-nav-to-other-interfaces ifcs="val['@interfaces']" resource="val.id" label="val['@label']"></my-nav-to-other-interfaces>
    			
    			
    		</div>
    		<h4>{{val['@label']}}&nbsp;</h4>
    	</div>
    	<div class="panel-body" cg-busy="loadingResources[ResourceId]">
    	
    		<div class="row">
    			<div class="row-label col-md-2 wordwrap"><strong>Name</strong></div>
    			<div class="row-content col-md-10">
    				        <div class="input-group">
            	<div css="wordwrap">{{val['Name']}}</div>
            </div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="row-label col-md-2 wordwrap"><strong>Current PL</strong></div>
    			<div class="row-content col-md-10">
    				        <div ng-repeat="(key, row) in val['Current_32_PL'] track by row.id">
            	<my-nav-to-interfaces ifcs="row['@interfaces']" resource="row.id" label="row['@label']"></my-nav-to-interfaces>
            </div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="row-label col-md-2 wordwrap"><strong>Description</strong></div>
    			<div class="row-content col-md-10">
    				        <div class="input-group">
            	<div class="wordwrap">{{val['Description']}}</div>
            </div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="row-label col-md-2 wordwrap"><strong>Administration</strong></div>
    			<div class="row-content col-md-10">
    				        <div class="box" ng-repeat="(key, val) in val['Administration'] track by val.id" >
            		<uib-tabset>
            			<uib-tab heading="Project leaders">
            				        <table class="table table-striped table-hover table-condensed">
                    	<thead>
                    		<tr>
                    			<th>Name</th>
                    			<th>Status</th>
                    			<th>Email</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr class="box" ng-repeat="(key, val) in val['Project_32_leaders'] track by val.id" >
                    			<td class="row-content">
                    				        <div class="input-group">
                            	<div css="wordwrap">{{val['Name']}}</div>
                            </div>
                    			</td>
                    			<td class="row-content">
                    				        <div class="input-group">
                            	<div css="wordwrap">{{val['Status']}}</div>
                            </div>
                    			</td>
                    			<td class="row-content">
                    				        <div class="input-group">
                            	<div css="wordwrap">{{val['Email']}}</div>
                            </div>
                    			</td>
                    		</tr>
                    	</tbody>
                    	<tfoot>
                    </table>
            			</uib-tab><uib-tab heading="Project members">
            				        <table class="table table-striped table-hover table-condensed">
                    	<thead>
                    		<tr>
                    			<th>Name</th>
                    			<th>Status</th>
                    			<th>Email</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr class="box" ng-repeat="(key, val) in val['Project_32_members'] track by val.id" >
                    			<td class="row-content">
                    				        <div class="input-group">
                            	<div css="wordwrap">{{val['Name']}}</div>
                            </div>
                    			</td>
                    			<td class="row-content">
                    				        <div class="input-group">
                            	<div css="wordwrap">{{val['Status']}}</div>
                            </div>
                    			</td>
                    			<td class="row-content">
                    				        <div class="input-group">
                            	<div css="wordwrap">{{val['Email']}}</div>
                            </div>
                    			</td>
                    		</tr>
                    	</tbody>
                    	<tfoot>
                    </table>
            			</uib-tab>
            		</uib-tabset>
            	</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>